.icon_JavaAdapter:before {
    content: "";
    display: block;
    background: url("../images/JavaAdapter.png") no-repeat;
    width: 31px;
    height: 36px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_JiraAdapter:before {
    content: "";
    display: block;
    background: url("../images/Jira.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_ShipStationAdapter:before {
    content: "";
    display: block;
    background: url("../images/ShipStation.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_JiraServiceDeskAdapter:before {
    content: "";
    display: block;
    background: url("../images/Jira.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_QuickBooksRestV3Adapter:before {
	content: "";
    display: block;
    background: url("../images/QuickBook_online.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_ConsoleAdapter:before {
	
}

.icon_QuickBooksAdapter2:before {
    content: "";
    display: block;
    background: url("../images/QuickBook.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_DatabaseAdapter:before {
    content: "";
    display: block;
    background: url("../images/Database.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_SkuvaultAppcode:before {
    content: "";
    display: block;
    background: url("../images/Skuvault.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_NetSuiteAdapter:before {
    content: "";
    display: block;
    background: url("../images/NetSuite.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_GreatPlainsAdapter:before {
    content: "";
    display: block;
    background: url("../images/Microsoft-Dynamics-GP.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_IntacctAdapter:before {
    content: "";
    display: block;
    background: url("../images/Intacct.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_SentactAdapter:before {
    content: "";
    display: block;
    background: url("../images/Sentact.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_FileAdapter:before {
    content: "";
    display: block;
    background: url("../images/File.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_FTPAdapter:before {
    content: "";
    display: block;
    background: url("../images/FTP_Adapter.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_EmailAdapter:before {
    content: "";
    display: block;
    background: url("../images/EmailAdapter.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_SalesforceAdapter:before, .icon_SalesforceStreamingAPIAdapter:before {
    content: "";
    display: block;
    background: url("../images/Salesforce.png") no-repeat;
    width: 31px;
    height: 22px;
    float: left;
    margin: 0px 7px 0 0;
}

.icon_MSCRM2011Adapter:before {
    content: "";
    display: block;
    background: url("../images/MCRM-Online.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_MSCRMODataAdapter:before {
    content: "";
    display: block;
    background: url("../images/MCRM-Online.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_MSCRMOP2015Adapter:before {
    content: "";
    display: block;
    background: url("../images/MCRM-Online.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_JMSAdapter:before {
    content: "";
    display: block;
    background: url("../images/JMS.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_Arrow:before {
    content: "";
    display: block;
    background: url("../images/small-right-arrow.jpg") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -2px 7px 0 0;
}

#errorBox {
	word-break: break-all;
}

.icon_JavaAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/java_adapter_con.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_JiraAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/jira_con.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_ShipStationAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/shipstation_con.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_JiraServiceDeskAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/jira_con.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_QuickBooksRestV3Adapter_con:before {
	content: "";
    display: block;
    background: url("../images/qb_con.png") no-repeat;
    width: 16px;
    height:16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_ConsoleAdapter_con:before {
	
}

.icon_QuickBooksAdapter2_con:before {
    content: "";
    display: block;
    background: url("../images/qb_con.png") no-repeat;
    width: 16px;
    height:16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_DatabaseAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/database_con.png") no-repeat;
    width: 16px;
    height:16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_SkuvaultAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/skuvault_con.png") no-repeat;
    width: 16px;
    height:16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_NetSuiteAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/netsuite_con.png") no-repeat;
    width: 16px;
    height:16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_GreatPlainsAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/ms_con.png") no-repeat;
    width: 16px;
    height:16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_IntacctAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/intacct_con.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_SentactAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/Sentact_con.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_FileAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/file_adapter_con.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_FTPAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/ftp_con.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_EmailAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/email_adapter_con.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_SalesforceAdapter_con:before, .icon_SalesforceStreamingAPIAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/sforce_con.png") no-repeat;
    width: 16px;
    height: 12px;
    float: left;
    margin: 0px 7px 0 0;
}

.icon_MSCRM2011Adapter_con:before, .icon_MSCRMOP2015Adapter_con:before, .icon_MSCRMODataAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/ms_con.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: -2px 7px 0 0;
}

.icon_JMSAdapter_con:before {
    content: "";
    display: block;
    background: url("../images/jms_con.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: -2px 7px 0 0;
}

