.List {
	width:1000px;	
	height:120px;
	overflow-y:scroll;
}
.Txt_Refresh3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color: #06f;
	line-height: 160%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-bottom: 0;
    float:left;
	width:400px;
}
.Txt_View {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	color: #06f;
	line-height: 160%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-bottom: 0;
	width: 500px;
	padding-left:200px;
}

.Txt_Processingtime {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #444;
	line-height: 160%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-bottom: 0;
	width: 200px;
}
.Txt_Processed2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #444;
	line-height: 160%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-bottom: 0;
	width:200px;
}
.Txt_Processed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #444;
	line-height: 160%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-bottom: 0;
	width:200px;
}
.SecTxt1
{
	font-family: 'Arial Bold', Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	text-align: left;
	color:#AAAAAA;
}
.SecTxt2
{
	font-family: 'Arial Bold', Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:200;
	text-align: left;
	color: #06f;
}
.Txt_Processingname {
	font-family: 'Arial Bold', Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
	text-align: left;
	color: #06f;
	line-height: 160%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-bottom: 0;
	width: 200px;
}

.Txt_Processingname a {
	text-decoration: none;
}

/*
 * This is used in multi-select Picker
 * <select multiple class="Picker">
 *       <option value="abc">xyz</option>
 * </select>
 */
.Picker {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-size:12px;
	color: #525252;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-bottom: 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	width: 229px;
	padding-top: 0px;
	height:27px;
	
}
.SubPicker {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-size:12px;
	color: #525252;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-bottom: 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	width: 58px;
	padding-top: 0px;
	height:27px;
}
.textarea
{  
  padding-bottom: 2px;
  padding-top: 1px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  border-radius: 3px;
  color: #525252!important;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  line-height: normal;
  width: 219px;
  line-height: 120%;
  height:16px;
  }
  
  .min,   .hour
  {
  width: 92px;
  }
 .week
 {
 width:460px;
 }
  .cust 
  {
  width:164px;
  }
  .cust .minutes {
    margin-top: 11px;
  }
  .cust .SubPicker {
    width: 50px;
  }
  .minutes
  { 
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 7px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size:12px;
  color: #525252;
  }
  .subminutes {
  width: 50%;
  float: right;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size:12px;
  color: #525252;
  }
  
  .checkbox
  {
  width: 50%;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size:12px;
  color: #525252;
  }
  
  .checkbox > div:first-child {
  width: 35%;
}

.checkbox > div {
    float: left;
    width: 37%;
    margin-left:128px;
}

/*
 * This is used with Property Box, to apply the font related styles
 */
.Txt_Properties2 {
	font-family: 'Arial Bold', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: middle;
	color: #666666;
	line-height: 120%;	
}

/*
 * This is used in Property Box 
 * <table class="Propertytable Txt_Properties2">
 *		<thead><tr><th>h1</th><th>h2</th></tr></thead>
 *		<tbody><tr><td>dat1</td><td>data2</td></tr></tbody>
 * </table>
 */
.Propertytable {
	width:600px;
	border-spacing: 0;
	border: 2px solid #cfcfcf;
}

.Propertytable tbody {
	height: 100px;   
    overflow-y: scroll;   
    overflow-x: hidden;
	width:100%; 
	font-size:11px;
	border-top: 1px solid #cfcfcf;
	}

.Propertytable tbody td, thead th {
	width: 20%; 
	height:20px;
    border-right: 1px solid #cfcfcf;
	text-align:left;
	border-bottom: 1px solid #cfcfcf;
 }
.Propertytable tbody, thead{
   display:block;	 
}
.Propertytable  thead tr th {
 	height: 20px;
    line-height: 20px;	
	padding-left:0.1em;	
}
.Propertytable  tbody tr td {
 	height: 20px;
    line-height: 20px;	
	padding-left:3px;	
}
.Propertytable  thead th:last-child,tbody td:last-child {
border-right: none;
}

.layout_prop {
	min-width: 1000px;
	width: 100%;
	margin-bottom: 35px;
}	

/*
 * This style is used in the header
 * <table class="header">
 *		<tr>
 *			<td><img src="images/header_dbsync_icon.png"/></td>
 *			<td>Projects</td>
 *			...
 *		</tr>
 * </table>
 */
.header {
	font-family: 'Arial Bold', Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	color: #444444;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	border-spacing: 10px;
	border-collapse: separate;
	height:49px;
	width:100%;
	background: -webkit-linear-gradient(#FFFDFD, #FFFDFD)!important; /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFFDFD, #ECECEC)!important; /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFDFD, #ECECEC)!important; /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFFDFD, #ECECEC)!important; /* Standard syntax (must be last) */
}

.dbsync-applogo {
	background: url("../images/header_dbsync_icon.png") no-repeat center;
	width: 50px;
	height: 50px;
	margin-left: 20px;
	float: left;
}

.topmenu {
	font-family: sans-serif;
	font-weight: bold;
	float: left;
	margin-top: 16px;
	margin-left: 8%;
}

.topmenu a {
	color: #444444;		
	text-decoration: none;		
}

/*
 * This style is used inside the header for email
 */
.topusername {
	font-family: 'Arial Bold', Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #06f;
	margin-top: 16px;
	margin-left: 35%;
	float: left;
}

.seperator {
	margin-top: 16px;
	margin-left: 1%;
	margin-right: 1%;
	float: left;
}

.logout {
	margin-top: 16px;
	float: left;
	cursor: pointer;
}

/*
 * This Secondary Nav background
 * <div class="SecNavBg"></div>
 */
.SecNavBg {
	background-image:url("../images/secondary_nav_background.png"); 
	background-repeat: repeat-x;
	width:100%;
	height:42px;
}

.headerName {
	color: white;
	padding: 10px;
	font-size: 21px;
	font-family: sans-serif;
	float: left;
}

/*
 * This is used in Depressed Secondary Nav Button to apply the background-color
 * <div class="DepSecNavBt">
 *		<img src="images/depressed_secondary_nav_clock_icon.png"><br>
 *		<span class="Txt_Scheduled">Scheduled</span>
 * </div>
 */
.DepSecNavBt {
	height:42px;
	width:60px;
	background-color:#3B3A3B;
	position: relative;
}

/*
 * This is used inside Depressed Secondary Nav Button to apply style for the image 
 */
.DepSecNavBt img{
	position:absolute;
	left:24px;
	margin-top:6px;
}

/*
 * This is used inside Depressed Secondary Nav Button to apply the color for the text
 */
.Txt_Scheduled {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align: center;
	color: #6f0;
	position:absolute;
	left:4px;
	margin-top:24px;
}

/*
 * This is used in the Tertiary Button, to create look & feel like button
	<div class="tertiary_button">
		<table cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td class="tertiary_button_alert_icon"><img src="images/tertiary_button_alert_icon.png"></td>
				<td class="tertiary_button-Txt1">This connector is currently unverified.<br/>
				<span class="tertiary_button-Txt2">Verify this connector</span></td>
			</tr>
		</table>
	</div>
 */
.tertiary_button{
	height:40px;
	width:300px;
	background: -webkit-linear-gradient(#FFFDFD, #FFFDFD)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFFDFD, #ECECEC)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFDFD, #ECECEC)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFDFD, #ECECEC)!important; /* Standard syntax (must be last) */
	border:1px solid #cccccc;	
}

.tertiary_button_alert_icon{
	width:20%;
	padding-top:10px;
	padding-left:20px;
}

.tertiary_button-Txt1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top:5px;
	text-align: left;
	color: #444;
	width:80%;

}
.tertiary_button-Txt2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	font-weight: bold;
	color: #06f;
}

/* 
 * This is used in SideTab_button to create the look & feel of Side Tab Button
	<div class="SideTab_button">
		<table>
			<tr>
				<td class="Settings_icon"><img src="images/side_tab_button_gears_icon.png" height="29"></td>
				<td class="SideTab">Settings</td>
			</tr>
		</table>
	</div>
 */
.SideTab_button{
	height:40px;
	width:200px;
	border:2px solid #cccccc;	
}

/*
 * This is used in Side Tab Button
 */
 .SideTab{
 	padding-left: 10px;
 	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	font-weight: bold;
 }
 
 .Settings_icon{
	width:20%;
	padding-top:5px;
	padding-left:10px;
}

/*
 * This is used in Side Panel Box
	 <div class="SidePanel_Box">
		<table>
			<tr><td class="Protperty_Txt">Properties</td></tr>
			<tr><td  class="Title-txt">Title</td></tr>
			<tr><td  class="Title-txt"><input type="text" name="Reader Title"  value="Reader Title"></td></tr>
		</table>
	</div>
 */
.SidePanel_Box {
	height:100px;
	width:250px;
	border:1px solid #cccccc;	
}

.SidePanel_Box table {
	width: 100%;
}

/*
 * This is used in Side Panel Box, which applies header style
 */
.Protperty_Txt {	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	font-weight: bold;
	color:#333333;
	border-bottom:2px solid #cccccc;
	padding-left:20px;
	background: -webkit-linear-gradient(#FFFDFD, #FFFDFD)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFFDFD, #ECECEC)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFDFD, #ECECEC)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFDFD, #ECECEC)!important; /* Standard syntax (must be last) */
}

/*
 * This is used in the Side Panel Box
 */
.Title-txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	padding-left:20px;
	padding-top:10px;
}
	
.Title-txt input{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#999999;
}
	
/*
 * This is used in the MainCanvas Tab, which applies background color
	<div class="MainCanvas_Tab">
		<div class="Sub_MainCanvas_Tab">
		<span class="Sub_MainCanvas_Tab_Txt">QuickbooksToSalkljhkjhkjhkjlhkljhkjhjklk;kljlklkjkj</span>
		<img src="images/delete_process_icon.png" weight="8px" height="8px"></div>
	</div>
 */
.MainCanvas_Tab{
	height:50px;
	width:200px;
	background-color:#808080;
}

.Sub_MainCanvas_Tab{
	height:20px;
	width:150px;
	background-color:#ffffff;
	position:relative;
	left:30px;
	bottom:-15px;	
}

.Sub_MainCanvas_Tab:before {
   content:"";
   position: absolute;
   right: 100%;
   width: 0;
   height: 0;
   border-top: 20px solid transparent;
   border-right:20px solid #FFFFFF;
}

.Sub_MainCanvas_Tab img{
	position:absolute;
	left:140px;
	top:5px;
}

.Sub_MainCanvas_Tab_Txt{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	color: #444;
	overflow:hidden;
	text-overflow: ellipsis;
	display: inline-block;
	width: 130px;
 }

/*
 * This is used to create Primary Button
 */ 
.highlight-button {
	background: linear-gradient(to bottom, #ff670f 0%,#ff670f 100%) repeat scroll 0 0 transparent;
	border: 1px solid #FF6633;
	box-shadow: inset 0 0 1px #B22E00;
	color: #FFFFFF;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1.5);
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	padding: 5px 10px 5px 10px;
	display: inline-block;
}

.SecNavBg .highlight-button {
	float: right;
	margin-right: 25px;
	margin-top: 7px;
}

.delete_icon {
	width: 12px;
	height: 16px;
	margin-left: 21px; 
}

.delete_icon:hover {
	width: 14px;
	height: 18px;
	margin-left: 21px;
}

.icon_gap {
	margin-left: 58px;
}

/*
 * This is used to create Secondary Button
 */
.sec-button {
	background: linear-gradient(to bottom, #d5d5d5 0%,#d5d5d5 100%) repeat scroll 0 0 transparent;
	border: 1px solid #bbbbbb;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 0.9em;
	padding: 5px 10px 5px 10px;
	display: inline-block;
	color: rgb(105, 105, 105);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1.5);
	font-weight: bold;
	box-shadow: inset 0 0 8px #b0b0b0;
}

/*
 * This is used to apply the style to the Grid Background
 */
.grid-background {
	background-image:url('../images/grid_background.png');
	display: inline-flex;
}

/*
 * This is used to create inside pop-out menu, which is used inside JQuery Library internally
 */
.popout-menu {
	padding: 5px 5px 5px 5px ;
	border: 1px solid #cccccc;
	border-left: none;
	background-color: #fafcfc;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.9em;
	color: #555555;
	height: 100px;
	width: 150px;
	overflow-y : auto;
}
/*
 * This is used to style pop-out menu, which is used inside JQuery Library internally
 */
.popout-arrow {
	background-image:url('../images/properties_menu_slice.png');
	background-repeat: no-repeat;
	height:112px;
	width: 12px;
	float:left;
}

/*
 * This is used to position the cross mark inside pop-out menu, which is used inside JQuery Library internally
 */
.properties_menu_x {
	height: 7px;
	margin-bottom: 0;
	width: 6px;
	float: right;
}

/*
 * This is used to style the Tree Dropdown, which is used inside JQuery Library internally
 */
.tree-dropdown {
	padding: 5px 5px 5px 5px ;
	border: 1px solid #cccccc;
	border-left: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.9em;
	background-color: #ffffff;
	color: #555555;
	height: 88px;
	width: 90px;
	overflow-y : auto;
	box-shadow: 1px 1px 3px #888888;
}

/*
 * This is used to style the Tree Dropdown, which is used inside JQuery Library internally
 */
.tree-dropdown-arrow {
	background-image:url('../images/tree_dropdown_slicetree_dropdown_slice.png');
	background-repeat: no-repeat;
	height:100px;
	width: 8px;
	float:left;
}

/*
 * This is used to style the Info Hover Over, which is used inside JQuery Library internally
 */
.info-hover-over {
	padding: 15px 5px 5px 5px ;
	border: 1px solid #cccccc;
	border-top: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.9em;
	background-color: #ffffff;
	color: #555555;
	width: 185px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	display: inline-block;
	word-wrap: break-word;
}

/*
 * This is used to style the Info Hover Over, which is used inside JQuery Library internally
 */
.info-hover-over-arrow {
	background-image:url('../images/info_hover_slice.png');
	background-repeat: no-repeat;
	height:11px;
	width:197px;
	position: absolute;
	display: inline-flex;
}

/*
 * This is used to style the Secondary Nav Dropdown, which is used inside JQuery Library internally
 */
.sec-nav-dropdown {
	padding: 10px 5px 5px 15px ;
	border: 1px solid #cccccc;
	border-top: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.9em;
	line-height: 175%;
	background-color: #555555;
	color: #ffffff;
	width: 154px;
	display: inline-block;
	word-break: break-word;
	box-shadow: 0 3px 5px -4px #000000;
}

/*
 * This is used to style the Secondary Nav Dropdown, which is used inside JQuery Library internally
 */
.sec-nav-dropdown-arrow {
	background-image:url('../images/secondary_nav_dropdown_slice.png');
	background-repeat: no-repeat;
	height:5px;
	width:176px;
	position: absolute;
	display: inline-flex;
}

/*
 * This is used to style Dropdown
	 <select class="dropdown">
		<option>option1</option>
		<option>option2</option>
	</select>
 */
.dropdown {
	font-family: Arial;
	border: 1px solid #cccccc;
	color: #505050;
	height: 26px;
	-webkit-border-radius: 20px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*
 * This style is used in Primary Arrow Button, which is used inside JQuery Library internally
 */
.arrow-button {
	background: linear-gradient(to bottom, #ff670f 0%,#ff670f 100%) repeat scroll 0 0 transparent;
	border-top: 1px solid #FF6633;
	border-bottom: 1px solid #FF6633;
	border-left: 1px solid #FF6633;
	border-right: 1px solid #FF670F;
	color: #FFFFFF;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1.5);
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	padding: 4.5px 10px 4.5px 10px;
	float: left;
	height: 19px;
}

/*
 * This style is used in Primary Arrow Button, which is used inside JQuery Library internally
 */
.highlight-button-arrow {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left:15px solid #FF670F;
	display: inline-block;
}

/*
 * This is used to style the Field
 */
.field {
	height: 26px;
	border-top: solid 2px #8F8F8F;
	border-left: solid 2px #8F8F8F;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	width: 254px;
	background-color: #FFFFFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 0.9em;
}

/*
 * This is used to give the background for Run Button
 */
.run_button_bground {
	height: 50px;
	width: 80px;
	background-color: #808080;
}

/*
 * This is used to place the Run Button image centered to it's background 
 */
.run_button {
	margin-left: 15px;
	margin-top: 15px;
}

.footer-bar {
	border-top: 1px solid #EBEBEB;
	bottom: 0;
	height: 35px;
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.footer ul {
	color: #999;
	max-width: 80%;
	font: 12px Arial, Helvetica, sans-serif;
	padding: 0;
}

.footer ul li {
	display: inline;
	padding: 0 1.5em 0 0;
}

.footer a {
	color: #333;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.footer {
	float: left;
	width: 100%;
	margin: auto;
	padding: 0;
}

body {
	margin: 0px;
}

.listTable {
	border-collapse: collapse;
	width: 100%; 
	border-color: #C8C8C8;
	padding: 10px;
	table-layout: fixed;
}
.listTable tr { 
	border: solid;
	border-width: 1px 0;
	border-color: #888888;
}
.listTable tr:first-child {
	border-top: none;
	font-family: Arial,sans-serif;
	font-size: 12px; 
	color: #888888; 
	border-top-color: #FFFFFF;
}
.listTable td, 
.listTable th {
	padding: 10px;
	text-align: left; 
	word-wrap: break-word;
	font-family: Arial,Helvetica,sans-serif;
}

.listTable td {
	font-family: Arial,sans-serif;
	font-size: 13px; 
	color: #000000; 
}

.listTable td:first-child {
	width: 30%;
}

.Lefttabs
{font-size:14px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
float:left;
margin-right:10px;
}

.save-bt
{
  background: #86c543 !important /*-moz-linear-gradient(center top, #DDDDDD, #C2C2C2) repeat scroll 0 0 transparent*/;
  border: 1px solid #BEBEBE !important;
  border-radius: 3px 3px 3px 3px !important;
  box-shadow: 1px 2px 2px #D5D2CC;
  color: #f6f6f6 !important;
  font:bold 13px Arial, Helvetica, sans-serif;
  padding:3px 8px;
  margin-right:155px;
  float:right;
  