@charset "utf-8";
/* CSS Document */

	a.beer
		{
		background: url(coffee.png) no-repeat 4px center orange;
		color: #fff;
		padding: 4px;
		padding-left: 24px;
		border: 1px solid #fff;
		}

	ul1 li
		{
		background: url(accept.png) no-repeat left;
		list-style: none;
		padding: 3px;
		padding-left: 20px;
		}

	.msgblock
		{
		font-size: 12px;
		padding: 3px;
		display: block;
		background:transparent none repeat scroll 0 0;
		border-width:0;
		display:block;
		}
		
	.msgblock2
		{
		font-size: 12px;
		padding: 3px;
		
		}
	.msgblock a
		{
		
		font-size: 12px;
		padding: 3px;
		}
		
	a
		{
		/*text-decoration: none;
		color: #000000;*/
		color: ##222222;
		font-size: 14px;
		}
	
	li a
		{
		/*text-decoration: none;*/
		color: #000000;
		font-size: 12px;
		}
		
	.atable
		{
		text-decoration: none;
		color: #0066FF;
		font-size: 12px;
		}
		
	body
		{
		background: #ffffff;

		margin: 0px;
		padding: 20px;
		padding-bottom: 200px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		}
		
	h1
		{
		font-size: 26px;
		font-weight: normal;
		margin: 0px;
		color: #0099FF;
		}
		
	.code
		{
		background: #555;
		padding: 10px;
		margin-bottom: 10px;
		display: none;
		color: #eee;
		}
		
	.title
		{
		background: #0099FF;
		color: #fff;
		padding: 10px;
		}
	
	.bborder
		{
		background: #eee;
		border: 0px solid #ccc;
		padding: 3px;
		}
		
	.update2
		{
		background:#CCFF33;
		padding: 10px;
		color: #000;
		}
		
		.update2 p
			{
			margin: 0px;
			margin-bottom: 10px;
			}

	.update
		{
			border: 1px solid #777;
			height: 26px;
			overflow: hidden;
		}
		
		.update.fh
			{
			height: auto;
			}
		
		.update p
			{
			margin: 10px;
			}
		
		.update b.top
			{
			cursor: pointer;
			display: block;
			padding: 5px;
			color: #fff;
			position: relative;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 2px;
			border-left: 0px solid #06f;
			border-bottom: 2px solid #0066FF;
			}		