td {
	border-bottom: medium none;
	overflow: hidden;
	padding: 6px;
}

.u215_container { 
	background: none repeat scroll 0 0 #EEEEEE;
    border-color: #FAFAFA;
    box-shadow: 0 0 8px 0 #A3A3A3;
    float: left;
    height: auto;
    margin-left: 50px;
    margin-top: 12px;
    min-height: 400px;
    width: 960px;
}

.leftsidemenu {
	float: left;
    height: auto;
    margin: 10px 0 0 10px;
    width: 200px;
}

.rightcontentholder {
	 background: none repeat scroll 0 0 #FAFCFC;
    box-shadow: 0 0 8px 0 #A3A3A3;
    float: right;
    height: auto;
    margin: 10px 10px 24px 0;
    min-height: 374px;
    width: 740px;
}

.midcontentwrapper {
	 background: url("../images/border_shadow.png") repeat-y scroll left top white;
    border-left: medium none;
    float: left;
    min-height: 400px;
    width: 725px;
}

.helpvideoholder {
	/*background: none repeat scroll 0 0 #E4E4E4;
    border: 2px solid #ADADAD;
    float: right;
    left: 660px;
    position: absolute;
    text-align: center;
    top: 142px;*/
    
    background: none repeat scroll 0 0 #E4E4E4;
    border: 2px solid #ADADAD;
    float: right;
}

.u58 {
	height: 50px;
	left: 0;
	position: absolute;
	top: 50px;
	width: 200px;
}

/*.stepblockheader {
	background: url("images/step_img.png") no-repeat;
	float: left;
	height: 72px;
	margin-left: 50px;
	margin-top: 10px;
	width: 80%;
}
*/
.tab {
	 background: none repeat scroll 0 0 #FDFEFE;
   /* border: 1px solid #CCCCCC;*/
   
    border-right: 1px solid #CCCCCC;
   /* background: url("../images/border_shadow.png") repeat-y scroll right top white;
    border-right: medium none;*/
    color: #73736B;
    display: block;
   float:left;
    position: relative;
}
#tabs-1{  border-top: 1px solid #CCCCCC;}
.link {
  border-bottom: 1px solid #CCCCCC;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 31px;
    padding: 9px;
    width: 181px;
    border-left: 1px solid #CCCCCC;
	word-break: break-all;
}

.tab .link img{
	float: left;
	height: 28px;
    width: 32px;
}

.arrow {
	display: block;
}

.tabs {
	 cursor: pointer;
    float: left;
    left: 0;
    list-style: none outside none;
   /* padding-left: 26px;*/
    width: 200px;
    height: 352px;
    z-index: 2;
}

.tabcontent {
	display: none;
	padding: 20px;
}

div.curvedContainer { /*margin-left: 259px;*/
	border: 1px solid #7c7c77;
	min-height: 400px;
	/*-moz-border-radius: 13px;
	border-radius: 13px;*/
}

.unhidden {
	display: block;
}

.hidden {
	display: none;
}

.top_right_section {
	height: 20px;
	
	margin-top: 5px;
	/*float: right;
	  margin-right: 25%;*/
}

.margin-right-25{

margin-right: 25%;
}
/*.tool_tip {
	position: absolute;
	text-align: left;
	background: white;
	border: solid 2px;
	padding: 5px;
	z-index: 3;
	border-color: #638EBD;
}*/
.tool_tip {
	margin-bottom: 0;
	position: absolute;
	border: 1px solid #BBBBBB;
	/*padding-top: 0px;
	padding: 5px;*/
	padding: 5px;
	height: 47px;
	z-index: 3;
	 background: none repeat scroll 0 0 #FFFFFF;
	
	/*background-color: #FFFFFF;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    float: left;
    height: 40px;
    width: 196px;
      margin-left: -23px;
    margin-top: 7px;
    position: absolute;*/
}

html > body .tool_tip {
	height: auto;
	/*min-height: 46px;*/
}
#settings {
	float: left;
    margin-top: 5px;
    padding-left: 20px;
    width: 70%;
}

.active { /*border-right:none;*/
	background: url("../images/active_tab.png") repeat-y scroll right top
		white;
	border-right: medium none;
	width: 204.5px;
	float:left;
}

.property_class p {
	font-size: 13px;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 5px;
}

.table-header {
	font-size: 15px;
	font-weight: bold;
}

.message {
	background-color: red;
	height: 10px;
	width: 30px;
	float: left;
}

	
.info {
	background-color: #FAFCFC;
    background-image: url("../images/alert_icon.png");
    height: auto;
    margin-bottom: 0;
    min-height: 60px;
    height:auto;
}

.info {
	background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    margin: 10px 10px 10px 27px;
    padding: 8px 5px 15px 50px;
    float: left;
    height: auto;
}

.bottomsection {
	background: none repeat scroll 0 0 white;
	float: left;
	height: 65px;
	width: 100%;
	box-shadow: 0 0 5px 0 #a3a3a3;
}

.mapbutton {
	background: url("../images/setup_mapping.png") repeat-y scroll right top
		white;
	float: right;
	height: 72px;
}

.labelname {
	font-size: 13px;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 5px;
}

.Txt_Verify1 {
	
}

.larger_label {
	 color: #444444;
    font-size: 15px;
    font-weight: bold;
    padding-right: 5px;
}

/*.right-header-link a {
	border-right: 1px solid #000000;
	float: left;
	font-size: 13px;
	font-weight: bold;
	height: 15px;
	padding: 0 8px;
	text-decoration: none;
}*/

.right-header-link a.last {
	border: medium none;
}

/*.right-header-link A:isactive {
	color: black;
}

.right-header-link A:visited { 
	font-color: black;
}*/

.isrequired {
	float: right;
	position: relative;
	right: 5px;
	top: -15px;
}

.tab-style {
	 font-size: 14px;
    font-weight: bold;
    line-height: 146%;
    float:left;
    color: #444444;
    font-family: 'Arial Bold',Arial,Helvetica,sans-serif;
 margin-top: 5px;
    
}
.prop-name-style{
	font-weight: bold;
}

#content{
	  width: 730px !important;
	
}
.field{
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 25px;
    margin-bottom: 0;
    padding-top: 0;
    width: 254px;
    font-family: 'Arial Bold',Arial,Helvetica,sans-serif;
    font-size: 13px;
}

.button_line {
    border-bottom: 1px solid #CCCCCC;
    height: 1px;
    margin-bottom: 0;
    overflow: hidden;
    width: 285px;
    position:absolute;
}
.info_content{
	float: left;
    height: auto;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: justify;
    width: 600px;
}
.txt_msg-style {
     color: #333333;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    /*font-size: 108%;
    line-height: 260%;*/
    margin-bottom: 0;
    padding-bottom: 2px;
    padding-top: 7px;
    text-align: left;
    width:auto;
   /* width: 202px;*/
}
.tip_txt_this {
    color: #333333;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 108%;
    line-height: 153%;
    margin-bottom: 0;
    padding-bottom: 2px;
    padding-top: 7px;
    text-align: left;
    /*width: 202px;*/
}
.active_link{
	color:black;
	 font-family: 'Arial Bold',Arial,Helvetica,sans-serif;
	border-right: 1px solid #000000;
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 15px;
	padding: 0 8px;
	text-decoration: none;
}
.inactive_link{
	color:blue;
	 font-family: 'Arial Bold',Arial,Helvetica,sans-serif;
	border-right: 1px solid #000000;
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 15px;
	padding: 0 8px;
	text-decoration: none;
}
#Save_Button {
 	background-attachment: scroll;
    background-color: #D5D5D5;
    background-image: url("../images/secondary_button_slice2.png");
    background-position: center center;
    background-repeat: repeat-x;
    border: 1px solid #BBBBBB;
    cursor: pointer;
    height: 26px;
    margin-bottom: 0;
    padding-top: 0;
    width: 183px;
}
.button_label{
	color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    width: 100%;
}
a:link img, a:visited img {
	border: none;
}

.drp_dwn_wd {
	width:272px;
}

.pointer{
  cursor: pointer;
}
.msg-box-width{
 	float: left;
    width: 138px;
}
.prop-row-pad{
	padding: 0 0px 20px 1px;
}
.prop-row-pad23{
	padding: 0 0px 23px 1px;
}
.blk-center{
	margin : 0 auto;
	
}
.con_fail{
	margin-left: 50px;
}
.con_success{
	margin-left: 50px;
}

.focus_info {
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    margin: 10px 10px 10px 27px;
    padding: 8px 5px 15px 50px;
    float: right;
}

.focus_info {
   background-color: #FAFCFC;
    background-image: url("../images/alert_icon.png");
    height: auto;
    margin-bottom: 0;
    /*min-height: 80px;*/
    min-height: 30px !important;
    min-width: 250px;
}

.cf_bp{
	padding-top:10px;
	padding-left: 7px;
	float: left;
}

.sfield {
	width: 120px;
}

.pfield {
	width: 50px;
}

.lfield {
	width: 400px;
}

div.mousescroll {
    overflow: hidden;
}
div.mousescroll:hover {
    overflow-y: auto;
}

.icon_QuickBooksRestV3Adapter:before {
	content: "";
    display: block;
    background: url("../images/QuickBook_online.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

.icon_ConsoleAdapter:before {
	
}

.icon_QuickBooksAdapter2:before {
    content: "";
    display: block;
    background: url("../images/QuickBook.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

.icon_DatabaseAdapter:before {
    content: "";
    display: block;
    background: url("../images/Database.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

.icon_SkuvaultAdapter:before {
    content: "";
    display: block;
    background: url("../images/Skuvault.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

.icon_NetSuiteAdapter:before {
    content: "";
    display: block;
    background: url("../images/NetSuite.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

.icon_GreatPlainsAdapter:before {
    content: "";
    display: block;
    background: url("../images/Microsoft-Dynamics-GP.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

.icon_IntacctAdapter:before {
    content: "";
    display: block;
    background: url("../images/Intacct.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

.icon_SentactAdapter:before {
    content: "";
    display: block;
    background: url("../images/Sentact.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

.icon_JavaAdapter:before {
    content: "";
    display: block;
    background: url("../images/MS-Nav.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

.icon_SalesforceAdapter:before {
    content: "";
    display: block;
    background: url("../images/Salesforce.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

.icon_MSCRM2011Adapter:before {
    content: "";
    display: block;
    background: url("../images/MCRM-Online.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

.icon_MSCRMODataAdapter:before {
    content: "";
    display: block;
    background: url("../images/MCRM-Online.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

.icon_MSCRMOP2015Adapter:before {
    content: "";
    display: block;
    background: url("../images/MCRM-Online.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

.icon_JMSAdapter:before {
    content: "";
    display: block;
    background: url("../images/MCRM-Online.png") no-repeat;
    width: 31px;
    height: 31px;
    float: left;
    margin: -5px 7px 0 0;
}

#errorBox {
	work-break: break-all;
}