.table-menu {
	/* visibility: hidden; */
	float: right;
	position: relative;
	right: -8px;
	top: -9px;
}

.table-menu-active {
	visibility: visible;
	/* display: inline; */
	float: right;
}

.rowmenubutton {
	height: 1.5em;
	width: 1.5em;
}

.rowmenuicon {
	margin-top: -3px;
	margin-left: -5px;
}

.selectedRow {
	background-color: #f3f3f4;
}

.dropdownlink {
	-webkit-appearance: none;
	background: none;
	border-width: 0 0 0 0;
	text-decoration: underline;
	cursor: pointer;
	color: #337ab7;
}

.form-control[disabled] { 
	background-color: inherit; 
	cursor: pointer;
}

.ui-sortable tr {
	cursor:pointer; 
}

.ui-sortable tr:hover {
	background:rgba(244,251,17,0.45); 
}

.readOnlyQuery {
	margin-left: 15px;
	margin-top: 0;
	background-color: #f3f3f4;
	padding: 10px 10px 10px 10px;
	height: 100px;
	overflow-y: auto;
	word-break: break-word;
}

#resultDivSimple ul {
	list-style-type: none;
}

.fullText {
	display: none;
}

.noresultmsg {
	margin-left: 35px;
}

/*
 * Added this class to increase the modal window size to fit the screen
 */
.modal-dialog {
	max-height: 100%;
	overflow-y: auto;
	padding: 0;
	margin-top: -2px;
}

/*
 * Making the modal popup to cover whole screen
 */
#querybuilder .modal-dialog, #querybuilder .modal-content, #mapWindow .modal-dialog, #mapWindow .modal-content, #querybuilder, #mapWindow {
	height: 100%;
	width: 100%;
}

/*
 * This class is used to override the existing background color
 */
#querybuilder {
	background-color: white;
}

/*
 * This class is used to override the existing background color
 */
#mapWindow {
	background-color: white;
}

/*
 * This class is used to adjust the button text to center
 */
@-moz-document url-prefix() {
	.align-button-text {
		margin-left : -7px;
	}
}